{% extends 'base.html' %}
{% block title_html %}
Create Supervisor
{% endblock %}

{% block h1 %} Create Supervisor{% endblock%}
{% block article_content %}

    <form method ="post" action="{% url 'create-supervisor' %}">
        {% csrf_token %}
        <!--this line inserts a Csrf token. -->
        <table>

            {{ form.as_table }}
            <!--this line displays the line of the form. -->

        </table>
        <p><input type="submit" value ="create"> </p>

    </form>
{% endblock %}